<!--청하님 차트-->
<!DOCTYPE html>
{% load static %}
<script>
    function display(data){
        Highcharts.setOptions({
    colors: Highcharts.getOptions().colors.map(function (color) {
        return {
            radialGradient: {
                cx: 0.4,
                cy: 0.3,
                r: 0.5
            },
            stops: [
                [0, color],
                [1, Highcharts.color(color).brighten(-0.2).get('rgb')]
            ]
        };
    })
});

// Set up the chart
var chart = new Highcharts.Chart({
    chart: {
        renderTo: 'container',
        margin: 100,
        type: 'scatter3d',
        animation: false,
        options3d: {
            enabled: true,
            alpha: 10,
            beta: 30,
            depth: 250,
            viewDistance: 5,
            fitToPlot: false,
            frame: {
                bottom: { size: 1, color: 'rgba(0,0,0,0.02)' },
                back: { size: 1, color: 'rgba(0,0,0,0.04)' },
                side: { size: 1, color: 'rgba(0,0,0,0.06)' }
            }
        }
    },
    title: {
        text: 'Rotten Tomatoes with Runtime & Year'
    },
    subtitle: {
        text: 'Click and drag the plot area to rotate in space'
    },
    plotOptions: {
        scatter: {
            width: 10,
            height: 10,
            depth: 10
        }
    },
    yAxis: {
        min: 0,
        max: 100,
        title: null
    },
    xAxis: {
        min: 0,
        max: 200,
        gridLineWidth: 1
    },
    zAxis: {
        min: 1900,
        max: 2030,
        showFirstLabel: false
    },
    legend: {
        enabled: false
    },
    series: [{
        name: 'Data',
        colorByPoint: true,
        turboThreshold:0,
        accessibility: {
            exposeAsGroupOnly: true
        },
        data: data
    }]
});


// Add mouse and touch events for rotation
(function (H) {
    function dragStart(eStart) {
        eStart = chart.pointer.normalize(eStart);

        var posX = eStart.chartX,
            posY = eStart.chartY,
            alpha = chart.options.chart.options3d.alpha,
            beta = chart.options.chart.options3d.beta,
            sensitivity = 5,  // lower is more sensitive
            handlers = [];

        function drag(e) {
            // Get e.chartX and e.chartY
            e = chart.pointer.normalize(e);

            chart.update({
                chart: {
                    options3d: {
                        alpha: alpha + (e.chartY - posY) / sensitivity,
                        beta: beta + (posX - e.chartX) / sensitivity
                    }
                }
            }, undefined, undefined, false);
        }

        function unbindAll() {
            handlers.forEach(function (unbind) {
                if (unbind) {
                    unbind();
                }
            });
            handlers.length = 0;
        }

        handlers.push(H.addEvent(document, 'mousemove', drag));
        handlers.push(H.addEvent(document, 'touchmove', drag));


        handlers.push(H.addEvent(document, 'mouseup', unbindAll));
        handlers.push(H.addEvent(document, 'touchend', unbindAll));
    }
    H.addEvent(chart.container, 'mousedown', dragStart);
    H.addEvent(chart.container, 'touchstart', dragStart);
}(Highcharts));

    };


    function getdata(ott){
        $.ajax({
            url:'TP32',
            type:'get',
            data :{ott: ott},
            datatype:'json',
            success:function(data){
                display(data)},

        });
    };

    $(document).ready(function(){
        $('#bt').click(function(){
            ott = $('select[name="ott"]').val();
            getdata(ott);
        });
    });
</script>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Runtime과 연도별 Rotten Tomato 수치 3D 분포도 </h1>
    <p class="mb-4">OTT 플랫폼을 선택하여 해당 OTT별 영화의 Rotten Tomato 수치와 Runtime의 분포를 파악하세요.</p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-8 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">3D Scatter Plot</h6>
                </div>
                <div class="card-body">
                    <select name="ott">
                        <option value="Netflix">Netflix</option>
                        <option value="Hulu">Hulu</option>
                        <option value="Prime Video">Prime Video</option>
                        <option value="Disney+">Disney+</option>
                    </select>
                    <button id="bt">SEARCH</button>
                    <br>
                    <div id="container"></div>
                    <hr>
                    Styling for the area chart can be found in the
                    <code>/js/demo/chart-area-demo.js</code> file.
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5 mb-4">
            <div class="card shadow mb-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">차트 설명</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-dark">3D Scatter Plot을 이용한 데이터 분석</h6><br>
                    <p>선택창에서 플랫폼을 선택하고 'SEARCH'버튼을 클릭하세요.</p>
                    <p>선택한 OTT에서의 영화 Runtime과 개봉녀도 Rotten Tomato 수치에 따른 분포를 파악할 수 있습니다.</p>
                    <p>그래프를 클릭 후 움직이는 것으로 그래프를 돌려가며 확인할 수 있습니다.</p>
                    <p>다른 플랫폼 선택시 분포도가 나타나지 않는다면 새로고침 후 다시 선택해주세요.</p>
                    <p>
                    <li>Rotten Tomato : 수치 범위는 0-100% 까지입니다.</li>
                    <li>Runtime : 영화 상영 시간. 최대 180분(3시간)까지의 영화를 대상으로 합니다.</li>
                    <li>Year : 영화가 개봉된 년도이며 1900년도부터 2020년도까지의 영화들을 대상으로 합니다.</li>
                    </p>
                    <p>그래프를 통해서 대부분의 영화가 100-150분 사이의 Runtime을 가지고 있음을 확인할 수 있습니다.
                         Rotten 토마토 지수는 대체적으로 골고루 분포하는 편이며 주로 2000년대 이후 영화들이 주로 서비스되고 있음이 확인가능합니다.
                    </p>
                    <a target="_blank" rel="nofollow" href="https://github.com/Songgplant">여기에 넣고 싶은 주소를&rarr;</a>
                </div>
            </div>
        </div>
    </div>


</div>