<!DOCTYPE html>
{% load static %}
<script>
    function display(data){


           Highcharts.chart('container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Most movies made by Country'
    },
    subtitle: {

    },
    accessibility: {
        announceNewData: {
            enabled: true
        }
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Total counts by each Country'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,

            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
    },

    series: [{
            name: "Country",
            colorByPoint: true,
            data: data
            }]

});
        };


        $(document).ready(function(){
           $.ajax({
                url:'TPex',
                datatype:'JSON',
                success: function(data){
                        display(data)}
           });
        });
</script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">국가별 분류</h1>
    <p class="mb-4">영화가 제작된 국가별로 분류하여 수를 나타내었습니다.</p>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-7 col-lg-7">
            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                </div>
                <div class="card-body">
                    <div id="container"></div>
                    <p><cite>MoviesOnStreamingPlatforms</cite></p>
                    <hr>

                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 mb-4">
            <div class="card shadow mb-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">차트 설명</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-dark">Bar chart를 활용한 국가별 분석</h6><br>
                    <p>이 수치는 여러나라에서 제작되었을 경우를 중복하여 계산되었기에 과장될 수 있습니다.</p>
                   <p>
                    <li>미국이 압도적인 수치를 보이고 있음을 확인할 수 있습니다.</li>
                    <li>영국과 인도, 캐나다가 비슷한 수치로 뒤따르고 있습니다. </li>
                    </p>
                    <p>이는 저희가 조사한 OTT 플랫폼이 전부 미국기반이기에 미국과 그 근처의 영국,캐나다에서 찍은
                        영화들이 많고, 인도는 상대적으로 적게 수치가 잡힌 것으로 보입니다.
                    </p>


                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-5 mb-4">
            <div class="card shadow mb-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">아님 여기다가 설명..?</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-dark">Introduce DATAO</h6><br>
                    <p>어쩌구저쩌구 소개</p>
                    <p>
                    <li>어쩌구</li>
                    <li>어쩌구</li>
                    <li>어쩌구</li>
                    </p>
                    <p>Before working with this theme, you should become familiar with the
                        Bootstrap framework, especially the utility classes.</p>
                    <p>두 문단 가능 ou should become familiar with the
                        Bootstrap framework, especially the utility classes.</p>
                    <p>근데 이 창 높이는 어떻게 조절하는 걸까요~?</p>
                    <a target="_blank" rel="nofollow" href="https://github.com/Songgplant">여기에우리의 결과물 주소를&rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
